body {
  background-color: yellow;
  text-align: center;
  
}

main, h1, h2 {
  color: blue;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

img {
  border: 10px;
  border-color: blue;
  border-style: solid;
  border-radius: 10px;
  text-align: center;
}

header{
  text-align: center;
}

ul{
  text-align: center;
  list-style: inside
}